* {
    margin: 0;
    padding: 0;
}

.nonDisplay {
    display: none;
}

body {
    margin: 0;
}

.introPage {
    background: url(/Img/new3background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main img {
    width: 30px;
    display: inline;
    align-items: center;
}

.main h1 {
    color: #000;
    margin: 0 auto;
    padding-top: 53px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 30px;
}

.playerInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 450px;
    max-width: 350px;
    color: #000;
}

label {
    display: block;
    margin-top: 0;
}

input[type=text] {
    width: 200px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=radio] {
    display: inline;
}


.startGame {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(0, 161, 220);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgba(0, 0, 0, .6);


}

.startGame:hover {
    background-color: rgb(0, 200, 255);
}

.startGame:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.startButton {
    display: flex;
    justify-content: center;

}

.container {
    height: 20px;
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;

}

.instructions {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    color: #000;
    margin-bottom: 300px;
}

.instructions img {
    width: 150px;

}

.rules {
    margin: 30px 0px 0 30px;
    border-radius: 2px;
    background-color: #f2f2f2;
    padding: 20px;
    color: #000;
    margin-bottom: 300px;
    text-align: center;
}

.rules h2 {
    text-align: center;
}

.rules p {
    font-size: small;
}

.GameScreen {
    display: flex;
    justify-content: center;

}

.canvasPanel {
    display: none;
}

.canvasPanel img {
    height: 30px;
}