@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    margin: 0;
    padding: 0;
}

.nonDisplay {
    display: none;
}
.background{
    background: url("../Img/new3background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.background2{
    background:rgba(90, 244, 249, 0.612);
}

body {
    margin: 0;
    text-align: center;
 
}
.logo {
    display: inline;
    align-items: center;

}

.logo img {
    width: 7%;
    border-radius: 20px;
}
.main{
    display: flex;
    justify-content: space-around;
}
.instructions{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.instructions img{
    background-color: rgba(253, 253, 253, 0.75);
    border-radius: 15px;
    width: 95%;
    border:5px solid rgba(255, 255, 255, 9);
    transition: background-color 0.5s;
}
.instructions img:hover{
    background-color: rgb(253, 253, 253);

}


.playerInfo {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;

}

.button {
    
    padding: 25px 100px;
    background-color: rgba(94, 46, 238, 0.95);
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
   font-size: 30px;
    border-radius: 60px;
    transition: background-color 1s ;
    margin-top: 15px;
    
}

.button:hover{
    background-color: rgb(44, 0, 174);
   
}

.playerColors {

    border: 2px solid rgba(255, 255, 255, 0.534);
    background-color: rgba(0, 0, 0, 0.85);
    font-size: 40px;
    color: white;
    padding: 10px 70px;
    border-radius: 40px;
    margin: 50px;
}
.playerColors h3{
    display: block;
    margin-bottom: 15px;

}
.playerColors label{
    margin: 0 10px;
}

.radio-player img {
    width: 45px;
    margin: 10px;
}

.radio__input {
    display: none;
}

.radio__label {
    cursor: pointer;
    opacity: 0.4;
    transition: opacity 0.5s;
}

.radio__input:checked+.radio__label {
    opacity: 1;
    
}
.container{
    display: flex;
}
.rules{
    width: 20%;
    font-size: 1.5em;
    display: flex;
    align-items: center;

}
.rules div{
    background-color: rgba(253, 253, 253, 0.75);
    border: 5px solid rgba(255, 255, 255, 75);
    padding: 5px 0;
    border-radius: 15px;
    line-height: 1.5;
    transition: background-color 0.5s;
}
.rules div:hover{
    background-color: rgb(253, 253, 253);
}
.rules h2{

    text-decoration: underline;
    font-size: 1.5em;
}
.start{
    display: flex;
    justify-content: center;
}
.game{
   margin-top: 50px;

}